.header {
    padding: 3rem;
}

.head {
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
    margin: 1rem;
}

.highlight {
    color: var(--primary-color);
}

.subHead {
    text-align: center;
    color: #555555;
    max-width: 768px;
    margin: 0 auto;
    font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
    .head {
        font-size: 2.5rem;
    }

    .subHead {
        font-size: 1.25rem;
    }
}